@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lilita+One&family=Permanent+Marker&family=Rubik+Scribble&display=swap');

:root {
  /* Colori provvisori */
  --nav-colors:transparent;
  /*Scala di Grigi*/
  --extra-light-gray: #f8f9faff;
  --soft-light-gray: #f2f2f3;
  --light-gray: rgb(158, 164, 169);
  --primary-gray: #adb5bdff;
  --soft-dark-gray: #89949e;
  --dark-gray: #6c757dff;
  --extra-dark-gray: #343a40ff;
  /* Global */
  --letter-spacing: 0.05rem;
  --transition: all 0.2s ease;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --img-radius: 0.25rem 0.25rem 0rem 0rem;
  --card-radius: 0rem 0rem 0.25rem 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: black;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Dark mode */

.light-mode {
  --background:#F8FFF4 ;
  --text-color: white;
  --btn-up: white;
  --input-back:white;
  --text-input:white;
  --pallino:white;
  --button-input:white;
  --background-card:white;
}

.dark-mode {
  --background: black;
  --text-color: black;
  --btn-up: black;
  --input-back:black;
  --text-input:black;
  --pallino:black;
  --button-input:black;
  --background-card:black;
}





/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
  border-bottom: 1px solid var(--divider-color);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  color: var(--primary-gray);
  font-size: 0.9rem;
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 753px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  /* display: inline-block; */
  color:blue;
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}

.btn:hover{
  background-color:green;
  transition: 1s;
}

.icon-btn {
  padding: 0.2rem 0.2rem;
  background-color: transparent;
  box-shadow: unset;
  justify-self: center;
}

.icon,
.nav-icon {
  padding: 0;
  margin: 0;
  transition: var(--btn-transition);
}

.nav-icon {
  color: #071108;
}

.icon {
  font-size: 1rem;
  color: black;
}

.underline,
.topline {
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 80%;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.topline {
  top: -13px;
}

/*
====================
NAV STYLE
====================
*/

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav {
  background-color: var(--nav-colors);
  height: 4rem;
  box-shadow: var(--light-shadow);
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
}

.nav-header {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  margin-bottom: 0.1rem;
  color: var(--trypan-blue-2);
  text-transform: lowercase;
  font-variant: small-caps;
}

.nav-toggler {
  font-size: 1.5rem;
  padding-bottom: 0;
  align-self: center;
  transition: var(--btn-transition);
}

.nav-toggler:hover .nav-icon {
  transform: rotateZ(90deg);
}

.nav-links {
  display: none;
}

.nav-link {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  white-space: nowrap;
}

.nav-text {
  font-size: 1.3rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.socialTop {
  display: none;
}

.nav-item {
  transition: var(--btn-transition);
}

.nav-item:hover {
  color: var(--flickr-pink);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
====================
NAV STYLE MEDIA QUERY
====================
*/

@media screen and (min-width: 992px) {
  .nav {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    height: 4rem;
  }

  .container {
    width: 90%;
  }

  .nav-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-header {
    text-align: left;
    width: fit-content;
  }

  .links-container {
    justify-self: center;
  }
  .nav-toggler {
    display: none;
  }

  .nav-links {
    width: 50%;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-icon {
    font-size: 1.4em;
  }

  .socialTop {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    font-size: 1.2rem;
  }
}

/*
====================
END NAV STYLE
====================
*/


.btn-group {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
  }
  
  .btn-primary {
    background-color: var(--btn-up);
    color:black;
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
  }
  
  .btn-primary:hover {
    background-color: white;
    transform: scale(1.02);
  }
  
  .row{
    display: flex;
    flex-direction: row;
  }

  
/*
====================
SIDEBAR STYLE
====================
*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: #F8FFF4;
  transform: translateX(-100%);
  transition: var(--transition);
}

.sidebar-content {
  height: 20%;
  display: grid;
  text-align: center;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 2rem;
}

.sidebar .nav-header {
  margin: 0;
  height: 4rem;
}

.sidebar .nav-header .nav-icon {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.sidebar-links {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: flex-start;
  gap: 1rem;
  font-size: 1.2em;
}

.sidebar-links .nav-item {
  width: 100%;
  padding: 0.5rem 0rem;
}

.sidebar-social {
  width: fit-content;
  margin: 2rem auto;
  font-size: 1.5rem;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.nav-item:hover .nav-link .nav-icon {
  transform: scale(1.1);
  color: var(--flickr-pink) !important;
}

.show-sidebar {
  transform: translateX(0%) !important;
}

/*
====================
SIDEBAR MEDIA QUERY STYLE
====================
*/

@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

/*
====================
END SIDEBAR STYLE
====================
*/

  .hero-container {
    height: 100%;
  }
  
  /*=== HOME HERO ===*/
  
  .home-hero {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    height: 100vh;
    margin-left: 10px;
    align-items: center;
  }
  
  .home-hero-text {
    width: 100%;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 2rem;
    color: black;
  }
  
  .home-hero-title {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    gap: 1rem;
  }
  
  .home-hero-title h2 {
    font-weight: 900;
  }
  
  .home-hero-title h4 {
    font-variant: small-caps;
  }
  
  .home-hero-text p {
    align-self: center;
    color: var(--light-gray);
    max-width: 70ch;
    line-height: 1.6;
  }
  
  .home-hero-text .btn {
    align-self: center;
    border-radius: 22px;
  }
  
  /*=== HOME HERO MEDIA ===*/
  @media screen and (min-width: 992px) {
    .home-hero {
      grid-template-columns: repeat(12, 1fr);
    }
  
    .home-hero-text {
      grid-column: 1/7;
      gap: 3rem;
      text-align: left;
      place-items: start;
    }
  
    .home-hero-text p {
      align-self: flex-start;
      color: var(--light-gray);
      max-width: 70ch;
      line-height: 1.6;
    }
  
    .home-hero-text .btn {
      align-self: unset;
    }
  
    .home-hero-img {
      grid-column: 8/-1;
    }
  }