@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lilita+One&family=Permanent+Marker&family=Rubik+Scribble&display=swap');

:root {
  /* Colori provvisori */
  --nav-colors:transparent;
  /*Scala di Grigi*/
  --extra-light-gray: #f8f9faff;
  --soft-light-gray: #f2f2f3;
  --light-gray: rgb(158, 164, 169);
  --primary-gray: #adb5bdff;
  --soft-dark-gray: #89949e;
  --dark-gray: #6c757dff;
  --extra-dark-gray: #343a40ff;
  /* Global */
  --letter-spacing: 0.05rem;
  --transition: all 0.2s ease;
  --btn-transition: all 0.125s ease;
  --radius: 0.25rem;
  --img-radius: 0.25rem 0.25rem 0rem 0rem;
  --card-radius: 0rem 0rem 0.25rem 0.25rem;
  --btn-radius: 16px;
  --light-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  --dark-shadow: 4px 5px 15px rgba(5, 6, 6, 0.4);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Permanent Marker", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Dark mode */

.light-mode {
  --background:#F8FFF4 ;
  --title-color:rgb(224, 157, 31);
  --text-color: black;
  --text-btn:white;
  --bg-btn:rgb(224, 157, 31);
  --bg-form:rgb(224, 157, 31);
  --button-form:#f5b53e;
}

.dark-mode {
  --background: orange;
  --title-color:black;
  --text-color: white;
  --text-btn:black;
  --bg-btn:#ffffff;
  --bg-form:#F8FFF4;
  --button-form:#d7dbd4;
}





/* GLOBAL STYLE */
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: unset;
}

hr {
  border: none;
  border-bottom: 1px solid var(--divider-color);
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--letter-spacing);
}
h1 {
  font-size: 3rem;
  color: var(--title-color);
}
h2 {
  font-size: 2rem;
  color: var(--title-color);
}
h3 {
  font-size: 1.25rem;
  color: var(--title-color);
}
h4 {
  font-size: 0.875rem;
  color: var(--title-color);
}
p {
  color: var(--text-color);
  font-size: 0.9rem;
  letter-spacing: var(--letter-spacing);
}
@media screen and (min-width: 753px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  /* display: inline-block; */
  border: none;
  padding: 0.4rem 1.25rem;
  border-radius: var(--btn-radius);
  box-shadow: var(--light-shadow);
  letter-spacing: var(--letter-spacing);
  font-size: 0.55rem;
  transition: var(--btn-transition);
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
}


.btn:hover{
  /* background-color:green; */
  transition: 1s;
}

.icon-btn {
  padding: 0.2rem 0.2rem;
  background-color: transparent;
  box-shadow: unset;
  justify-self: center;
}

.icon,
.nav-icon {
  padding: 0;
  margin: 0;
  transition: var(--btn-transition);
}

.nav-icon {
  color: #071108;
}

.icon {
  font-size: 1rem;
  color: black;
}

.underline,
.topline {
  position: absolute;
  bottom: -13px;
  height: 2px;
  width: 80%;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: var(--radius);
}

.topline {
  top: -13px;
}

/*
====================
NAV STYLE
====================
*/

.rubik-scribble-regular {
  font-family: "Rubik Scribble", system-ui;
  font-weight: 400;
  font-style: normal;
}

.nav {
  background-color: var(--nav-colors);
  height: 4rem;
  box-shadow: var(--light-shadow);
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  align-items: center;
}

.nav-header {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.nav-brand {
  margin-bottom: 0.1rem;
  color: var(--trypan-blue-2);
  text-transform: lowercase;
  font-variant: small-caps;
}

.nav-toggler {
  font-size: 1.5rem;
  padding-bottom: 0;
  align-self: center;
  transition: var(--btn-transition);
}

.nav-toggler:hover .nav-icon {
  transform: rotateZ(90deg);
}

.nav-links {
  display: none;
}

.nav-link {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  white-space: nowrap;
}

.nav-text {
  font-size: 1.3rem;
  text-transform: lowercase;
  font-variant: small-caps;
}

.socialTop {
  display: none;
}

.nav-item {
  transition: var(--btn-transition);
}

.nav-item:hover {
  color: var(--flickr-pink);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

/*
====================
NAV STYLE MEDIA QUERY
====================
*/

@media screen and (min-width: 992px) {
  .nav {
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    height: 4rem;
  }

  .container {
    width: 90%;
  }

  .nav-container {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-header {
    text-align: left;
    width: fit-content;
  }

  .links-container {
    justify-self: center;
  }
  .nav-toggler {
    display: none;
  }

  .nav-links {
    width: 50%;
    display: flex;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
  }

  .nav-icon {
    font-size: 1.4em;
  }

  .socialTop {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    font-size: 1.2rem;
  }
}

/*
====================
END NAV STYLE
====================
*/


.btn-group {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    width: 100%;
  }
  
  .btn-primary {
    background-color: var(--bg-btn);
    color:var(--text-btn);
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
  }
  
  
  .btn-primary:hover {
    transform: scale(1.1);
  }

  .btn-secondary {
    background-color: var(--button-form);
    color:var(--text-btn);
    font-size: 0.8rem;
    text-transform: uppercase;
    padding: 10px;
    width: fit-content;
  }

  .btn-secondary:hover {
    transform: scale(1.01);
  }
  
  .row{
    display: flex;
    flex-direction: row;
  }

  
/*
====================
SIDEBAR STYLE
====================
*/
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  background: #F8FFF4;
  transform: translateX(-100%);
  transition: var(--transition);
}

.sidebar-content {
  height: 20%;
  display: grid;
  text-align: center;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  gap: 2rem;
}

.sidebar .nav-header {
  margin: 0;
  height: 4rem;
}

.sidebar .nav-header .nav-icon {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.sidebar-links {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  place-items: flex-start;
  gap: 1rem;
  font-size: 1.2em;
}

.sidebar-links .nav-item {
  width: 100%;
  padding: 0.5rem 0rem;
}

.sidebar-social {
  width: fit-content;
  margin: 2rem auto;
  font-size: 1.5rem;
  display: -moz-grid;
  display: -ms-grid;
  display: -webkit-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.nav-item:hover .nav-link .nav-icon {
  transform: scale(1.1);
  color: var(--flickr-pink) !important;
}

.show-sidebar {
  transform: translateX(0%) !important;
}

/*
====================
SIDEBAR MEDIA QUERY STYLE
====================
*/

@media screen and (min-width: 992px) {
  .sidebar {
    display: none;
  }
}

/*
====================
END SIDEBAR STYLE
====================
*/

  .hero-container {
    height: 100%;
  }
  
  /*=== HOME HERO ===*/
  
  .home-hero {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    height: 100vh;
    padding: 24px;
    align-items: center;
  }
  
  .home-hero-text {
    width: 100%;
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 2rem;
  }
  
  .home-hero-title {
    display: -moz-grid;
    display: -ms-grid;
    display: -webkit-grid;
    display: grid;
    gap: 1rem;
  }
  
  .home-hero-title h2 {
    font-weight: 900;
  }
  
  .home-hero-title h4 {
    font-variant: small-caps;
  }
  
  .home-hero-text p {
    align-self: center;
    color: var(--text-color);
    max-width: 70ch;
    line-height: 1.6;
  }
  
  .home-hero-text .btn {
    align-self: center;
    border-radius: 22px;
  }

  .background-image{
    background:linear-gradient(black,transparent),url(../src/assets/image/header.jpg);
    background-position: center;
    background-size: cover;
  }
  
  /*=== HOME HERO MEDIA ===*/
  @media screen and (min-width: 992px) {
    .home-hero {
      grid-template-columns: repeat(12, 1fr);
    }
  
    .home-hero-text {
      grid-column: 1/7;
      gap: 3rem;
      text-align: left;
      place-items: start;
    }
  
    .home-hero-text p {
      align-self: flex-start;
      color: var(--text-color);
      max-width: 70ch;
      line-height: 1.6;
    }
  
    .home-hero-text .btn {
      align-self: unset;
    }
  
    .home-hero-img {
      grid-column: 8/-1;
    }
  }


/* STYLE CARD */


.position-card {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 2fr);
  gap: 60px;
}

.border{
  border: 2px solid var(--text-color);
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .position-card {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .position-card {
    grid-template-columns: 1fr;
  }
}

.card {
  --font-color: #323232;
  --font-color-sub: #666;
  --main-color: #323232;
  width: 230px;
  height: 300px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 10px;
}

.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
}

.card-divider {
  width: 100%;
  border: 1px solid var(--main-color);
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}


/* END CARD STYLE */




/* STYLE FORM */

.form {
  --input-focus: #2d8cf0;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  padding: 15px;
  margin: 34px;
  background: var(--bg-form);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
}

.title {
  color: var(--text-color);
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 25px;
}

.title span {
  color: var(--font-color-sub);
  font-weight: 600;
  font-size: 17px;
}

.input {
  width: 850px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 15px;
  font-weight: 600;
  color: var(--font-color);
  padding: 5px 10px;
  outline: none;
}

@media screen and (max-width: 768px) {
  .input {
    width: 220px;
    height: 40px;
  }
}
.input::placeholder {
  color: var(--font-color-sub);
  opacity: 0.8;
}

.input:focus {
  border: 2px solid var(--input-focus);
}

.login-with {
  display: flex;
  gap: 20px;
}

.button-log {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  color: var(--font-color);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  fill: var(--main-color);
}

.button-log:active,
.button-confirm:active {
  box-shadow: 0px 0px var(--button-form);
  transform: translate(3px, 3px);
}

.button-confirm {
  width: 140px;
  height: 40px;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
}

/* About style */


.bg-1{
  background: url(./assets/image/sfera-ebbasta.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 80px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .bg-1{
    height: 90px;
    width: 90px;
  }
}


.bg-2{
  background: url(./assets/image/geolier.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 80px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .bg-2{
    height: 90px;
    width: 90px;
  }
}

.bg-3{
  background: url(./assets/image/rosevillain.jpg);
  background-position: center;
  background-size: cover;
  height: 150px;
  width: 150px;
  border: 2px solid var(--text-color);
  border-radius: 80px;
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .bg-3{
    height: 90px;
    width: 90px;
  }
}

.posizioni{
  margin-top: 170px;
  margin-left: 10px;
  text-align: center;
}


@media screen and (max-width: 768px) {
  .posizioni{
    margin-top: 89px;
    margin-left: 5px;
  }
}





